[Unit]
Description=A poor man's Ansible Tower

[Service]
Type=simple
User=ansible
ExecStart=/home/ansible/AnsbileTorpor/script/ansbile_torpor daemon -m development -l http://*:8080 --inactivity-timeout 36000

RestartSec=5s
Restart=always

PrivateTmp=yes

[Install]
WantedBy=multi-user.target
